* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 1em sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  text-transform: capitalize;
  text-shadow: 1px 2px 1px #000;
  &:hover {
    color: #ff0000;
    transform: scale(1.1);
  }
}

.active {
  color: #ff8800;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.buttonBack {
  position: fixed;
  right: 3%;
  bottom: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 0;
  background: #f63131;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  z-index: 9999;
  box-shadow: 0 0 15px #686666;
  &:hover {
    background: #ff0000;
    scale: 1.1;
  }
}

@mixin flex($direction, $justify, $align, $gap, $p, $m) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  padding: $p;
  margin: $m;
}
