@import "../../assets/global/global.scss";

.block {
  @include flex(row, center, center, 20px, 20px, 0);
  flex-wrap: wrap;
  .box {
    box-shadow: inset 0 0 5px #808080;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    height: 100px;
    @include flex(row, center, center, 20px, 10px, 0);
    text-align: center;
    overflow: auto;
    cursor: pointer;
    user-select: none;
    input {
      accent-color: #008000;
    }
  }
}
